{% extends 'base.html' %}
{% block content %}
  <p style="font-size:20px; font-weight:bold;color:grey;">الولايات</p>
  <hr>
    <table>
      <thead>
        <tr>
          <th>الرقم</th>
          <th>الولاية</th>
          <th></th>
          <th></th>
        </tr>
        </thead>
        <tbody>
          {% if states %}
          {% for state in states %}
            <tr>
              <td name='id'>{{ state.id }}</td>
              <td name='state'>{{ state.name }}</td>
              <td><button class="button"
                onclick="editState({{state.id}})" data-toggle="modal" data-target="#myModal">تعديل</button></td>
              <td><button class="button"
                onclick="deleteState({{state.id}})">حذف</button></td>
            </tr>
          {% endfor %}
          {% else %}
          {% endif %}
        </tbody>
      </table>


{% endblock %}
